<div>
  <h3>Disclaimer!</h3>
  <p>I'm really bad right now at making websites but I want to go get better.</p>
  <p>I want to keep practicing and eventually be able to make a quality product, in an efficicient time frame, but right now, I'm just not there yet.</p>
  <p>This website is still a project I want to grow and develop into something I'd be proud to put in a portfolio but as of today,</p>
  <p>it looks like trash, barely works, (though it does work,) and has a painful user interaction.</p>
  <p>My code is sloppy, wasteful on resources, and often not very elegant.</p>
  <p>But I'm really trying my hardest to get better and make a career for myself.</p>
</div>
