<div>
  <h3>Bouldering Areas</h3>
  <style>
    li:hover{
    cursor: pointer;
    }
  </style>
  <ul>
    <li ng-repeat="area in areas">
      <span ng-click="showChildren(area)">{{area.name}}</span>
      <ul>
        <li ng-repeat="boulder in area.boulders" ng-show="area.active">
          <span ng-click="showChildren(boulder)">{{boulder.name}}</span>
          <ul>
            <li ng-repeat="problem in boulder.problems" ng-show="boulder.active" ng-show="area.active">
              <span>{{problem.name}} (V{{problem.grade}})</span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
