<div class="form-horizontal">
  <div class="form-group">
      <h4>Submit a New Bouldering Area</h4>
      <label>Area Name:</label>
      <input class="form-control" type="text" name="name" placeholder="Enter a name here" ng-model="area.name" required/>
      <label>Area Description: </label>
      <input class="form-control" type="text" name="description" placeholder="Enter a description here" ng-model="area.description" required/>
      <input type="submit" ng-click="saveNewArea(area); logResult(area); reloadRoute()"/>
      <a href="/#/"><button type="button">Cancel</button></a>
  </div>
</div>
